@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");


body {
	font-family: "Lato";
}

.app {
	margin-top: 50px;
}

.message {
	margin: 5px 0;
	border-radius: 30px;
	padding: 8px 20px;
}

.bg-color {
	background: #8800f8 !important;
	color: #8800f8;
}
.color-color {
	color: #8800f8 !important;
}

.send-button {
	svg {
		transform: scale(2) translateY(1px);
		width: 10px;
		margin: 0 5px;
		fill: #fff;
	}
}

.navbar textarea.form-control {
	height: 38px;
	resize: none;
}

.avatar {
	height: 40px;
	width: 40px;
	transform: translateY(5px);
	border: 1px solid #ddd;
}

.typing-text {
	.message {
		display: inline-block;
		animation: mymove 1s infinite;
	}
}

@keyframes mymove {
	0% { color: rgba(0, 0, 0, 0.2) }
	50% { color: rgba(0, 0, 0, 0.5) }
	100% { color: rgba(0, 0, 0, 0.2) }
}

.speaking-curve {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 10000;
	text-align: center;
	background: rgba(50, 50, 50, 0.8);
	svg {
		width: 20vw;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		fill: #fff;
	}
}